<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>download</title>

    <link rel="stylesheet" href="/stylesheets/farcry.css" />
  </head>
  <body>
    <header>
      <div class="background">
        <h1 style="text-align: center;color: white;">Far Cry </h1>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        <img
          class="img"
          src="https://img.icons8.com/?size=512&id=83331&format=png"
          alt=""
        />
      </div>

    </header>
    <h1 style="text-align: center;">Far Cry 3</h1>
    <div class="container-sm">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <img
            class="video"
            src="https://i0.wp.com/mypcgames.net/wp-content/uploads/2018/02/Far-Cry-3-Download-For-PC.png?resize=585%2C302&ssl=1"
            alt=""
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

          <h5>Far Cry 3 System Requirements:</h5><hr />
          <ul>
            <li>OS: Windows XP/Vista/7</li>
            <li>DirectX: 9.0c</li>
            <li>Sound Card: DirectX Compatible</li>
            <li>CPU: Intel Core®2 Duo E6700 @ 2.6 GHz or AMD Athlon64 X2 6000+ @
              3.0Ghz or better</li>
            <li>Hard Drive: 15 GB Free</li>
            <li>RAM: 4 GB</li>
            <li>Keyboard and Mouse</li>
            <li>Video Memory: 512 MB Video RAM (1GB Video RAM), DirectX9c
              (DirectX11) Shader Model 3.0 (Shader Model 5.0)</li>
          </ul>
        </div>
      </div>

      <h3>Far Cry 3 Download For PC</h3>
      <p>Far Cry 3 is an open-world first-person shooter game developed by
        Ubisoft. It is the third installment in the Far Cry series and a sequel
        to Far Cry 2. Players take on the role of Jason Brody, a tourist who has
        been stranded on an island filled with dangerous wildlife and a hostile
        militia. The Far Cry 3 video game features stunning visuals and intense
        action sequences, making it one of the most immersive gaming experiences
        available today. If you’re looking for an action-packed adventure, then
        Far Cry 3 Download For PC is definitely worth checking out!</p>
      <p>Far Cry 3 Game Download is a charming and harsh tropical wonderland,
        filled with wildlife and threatened by pirates and drug addicts who
        violate your world. The problem paradise you are studying is bright and
        wild, and it attracts you to explore its ravines and opens up new ways
        to enjoy the open amusement park that stretches before you. Far Cry 3
        download is a game that ignites the desire to complete each last task
        and check up to the last icon on your map.</p>

      <div class="row">
        <iframe
          width="720"
          height="473"
          src="https://www.youtube.com/embed/J6gnOVJsCsM"
          title="Far Cry 3 - Stranded Trailer [UK]"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe></div>

    </div>
    <div class="b" style="margin-top: 8%; margin-bottom: 4%;">
      <center><a href="/Games/Far Cry 3.exe" download><button alt="DOWNLOAD">
            <i>D</i>
            <i>O</i>
            <i>W</i>
            <i>N</i>
            <i>L</i>
            <i>O</i>
            <i>A</i>
            <i>D</i>

          </button></a>
      </center>
    </div>

  </body>
</html>