<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamezzz</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <header>

      <div class="background">
        <div class="col-xl-12">

          <div class="buttons">

            <a href="home"><button class="topbutton">Home</button></a>
            <a href="reviews"><button class="topbutton">Reviews</button></a>
            <button class="topbuttons">Games</button>
          </div>
        </div>
        
      </div>
   <ul class="slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
      </ul>
    </header>
    <div class="container-sm">
      <div class="a">
        <h3>Choose Your Games</h3>
      </div>

      <div class="games">
        <table id="searchs">
          <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
              <a href="god" style="text-decoration: none;"><div class="card">
                  <img
                    class="g"
                    src="https://cdn.mos.cms.futurecdn.net/eVoTvVPS6UgHCqsUbyn8K9-970-80.jpg.webp"
                    alt=""
                  />
                  <div class="textBox">
                    <p class="text head">GOD OF WAR</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
              <a href="Sniper" style="text-decoration: none;"><div class="card">
                  <img
                    class="g"
                    src="https://images8.alphacoders.com/122/thumbbig-1221126.webp"
                    alt=""
                  />
                  <div class="textBox">
                    <p class="text head">Sniper Elite 5</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
              <a href="gta" style="text-decoration: none;"><div class="card">
                  <img
                    class="v"
                    src="https://wallpapercave.com/dwp1x/wp5315332.jpg"
                    alt=""
                  />
                  <div class="textBox">
                    <p class="text head">GTA V</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
              <a href="Ghostrunner" style="text-decoration: none;"><div
                  class="card"
                >
                  <img
                    class="g"
                    src="https://c4.wallpaperflare.com/wallpaper/595/156/1017/ghostrunner-cyberpunk-cyborg-ninja-katana-hd-wallpaper-preview.jpg"
                    alt=""
                  />
                  <div class="textBox">
                    <p class="text head">Ghostrunner</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
              <a href="farcry" style="text-decoration: none;"><div class="card">
                  <img
                    class="v"
                    src="https://c4.wallpaperflare.com/wallpaper/656/702/364/far-cry-vaas-far-cry-3-gun-wallpaper-preview.jpg"
                    alt=""
                  />
                  <div class="textBox">
                    <p class="text head">Far Cry 3</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
              <a href="watchdogs" style="text-decoration: none;"><div
                  class="card"
                >
                  <img
                    class="v"
                    src="https://images6.alphacoders.com/709/thumbbig-709832.webp"
                    alt=""
                  />
                  <div class="textBox">
                    <p class="text head">Watch Dogs 2</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
              <a href="Hitman" style="text-decoration: none;"><div class="card">
                  <img
                    class="v"
                    src="https://c4.wallpaperflare.com/wallpaper/585/12/839/codename-47-hitman-hitman-3-black-coat-video-games-hd-wallpaper-preview.jpg"
                    alt=""
                  />
                  <div class="textBox">
                    <p class="text head">Hitman 3</p>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </table>
      </div>
    </div>
    <script
      src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"
    ></script>

  </body>
</html>