<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>download</title>
    <link rel="stylesheet" href="/stylesheets/Ghostrunner.css" />

  </head>
  <body>
    <header>
      <div class="background">
        <h2 style="text-align: center;color: white;">Ghostrunner</h2>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        
      </div>

    </header>
    <h1 style="text-align: center;">Ghostrunner</h1>

    <div class="container-sm">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <img
            class="video"
            src="https://c4.wallpaperflare.com/wallpaper/289/856/23/ghostrunner-sword-blurred-hd-wallpaper-preview.jpg"
            alt=""
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

          <h5>Ghostrunner System Requirements:</h5><hr />
          <ul>
            <li>OS: Windows 7, 8.1, 10 x64.</li>
            <li>Processor: Intel Core i5-2500K (4 * 3300) AMD Phenom II X4 965
              (4 * 3400) or equivalent.</li>
            <li>RAM: 8 GB</li>
            <li>Graphics: GeForce GTX 1050 (2048 MB) / Radeon RX 550 (4096 MB)</li>
            <li>Storage: 22 GB available space.</li>

            <li>Additional Notes: 60FPS, Low settings, 720p</li>
          </ul>
        </div>
      </div>

      <h3>Ghostrunner Download For PC</h3>
      <p>Ghostrunner is a cyberpunk action game developed and published by
        Polish developer One More Level & 505 Games respectively. It was
        released for Microsoft Windows, PlayStation 4 and Xbox One in October
        2020. Ghostrunner is co-produced by 3D Realms and co-developed by
        Slipgate Ironworks. The game’s concept revolves around an individual who
        is fighting against the forces of evil.</p>
      <h3>Ghostrunner Gameplay</h3>
      <p>As Jack the Ghostrunner, the player must traverse dangerous
        environments by dashing, jumping, wall running, and grappling. The
        player will also encounter enemies, which must be handled with care, as
        both the enemies and the player can be killed with a single hit. Jack
        can use a mechanic called Sensory Boost, allowing him to slow down time
        and dodge and deflect bullets in the air. As the player progresses
        through the story, they will unlock new abilities and upgrades, which
        they can apply using tetromino-like pieces on a grid system.</p>
      <p>The Ghostrunner Download game has a unique storyline, which involves a
        group of individuals who have fallen victim to cyber extortion. Their
        struggle to defend themselves from these agents. One of the main
        characters in the game is the mysterious Ghost Runner who is tasked with
        protecting a group of people who have become pawns in this struggle. The
        Ghost Runner character is very resourceful and able to survive in the
        game world. He uses his skills to defend himself against threats, and he
        also manages to save the lives of many people. The character is also
        equipped with excellent weapons, and he uses them to help him fight his
        enemies and complete his mission.</p>
      <p>The plot of the Ghostrunner game takes place on a planet named
        “Babylon” which is under the control of the evil corporation GEC Cyber.
        Additionally, the group of people the player has to rescue includes a
        man named John Smith who is the leader of those threatened by GEC. There
        are also three other characters including the mysterious Ghost Runner
        who acts as a guide to the main character. There are several other main
        characters including bounty hunters. The cyber-terrorist is known as
        Black Lotus and several other characters play central roles in the plot.</p>
      <p>These characters are not only crucial in the game but they also assist
        the player throughout the game. The main objective of the Ghostrunner
        Game is to use different weapons and abilities to fight enemies and
        defeat them. The player is also responsible for rescuing many innocent
        people from the clutches of GEC using stealth tactics and strategic
        thinking. Besides, you will also have to complete specific tasks such as
        collecting resources, defeating enemy targets, and completing quests.</p>
      <div class="row">
        <iframe
          width="720"
          height="473"
          src="https://www.youtube.com/embed/SS6YC7L3L-k"
          title="Ghostrunner - Official Cinematic Trailer"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe></div>

    </div>
    <div class="b" style="margin-top: 8%; margin-bottom: 4%;">
      <center><a href="/Games/Ghostrunner.exe" download><button alt="DOWNLOAD">
            <i>D</i>
            <i>O</i>
            <i>W</i>
            <i>N</i>
            <i>L</i>
            <i>O</i>
            <i>A</i>
            <i>D</i>

          </button></a>
      </center>
    </div>

  </body>
</html>