<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>download</title>
    <link rel="stylesheet" href="/stylesheets/god.css" />

  </head>
  <body>
    <header>
      <div class="background">
        <h2 style="text-align: center;color: white;">GOD OF WAR</h2>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
       
      </div>

    </header>
    <h1 style="text-align: center;">GOD OF WAR</h1>
    <div class="container-sm">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <img
            class="video"
            src="https://i0.wp.com/mypcgames.net/wp-content/uploads/2022/10/God-Of-War-PC-Free-Download-By-Worldofpcgames.webp?resize=768%2C515&ssl=1"
            alt=""
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

          <h5>God of War 4 System Requirements:</h5><hr />
          <ul>
            <li>CPU: Intel Core i5-2400S @ 2.5 GHz or AMD FX-8350 @ 4.0 GHz or
              better</li>
            <li>CPU SPEED: Info</li>
            <li>RAM: 8 GB</li>
            <li>OS: Windows 7 SP1, Windows 8/8.1 (64bit versions only)</li>
            <li>VIDEO CARD: NVIDIA GeForce GTX 680 or AMD Radeon R9 290X or
              better (2GB VRAM)</li>
            <li>PIXEL SHADER: 5.0</li>
            <li>VERTEX SHADER: 5.0</li>
            <li>SOUND CARD: Yes</li>
            <li>FREE DISK SPACE: 30 GB</li>
            <li>DEDICATED VIDEO RAM: 2 GB</li>
          </ul>
        </div>
      </div>

      <h3>God of War 4 Download For PC</h3>
      <p>God of War 4 is one of the most anticipated video games of 2018
        developed by Sony Interactive Entertainment, it is the eighth
        installment in the God of War series, and the sequel to 2010’s God of
        War III. The game follows Kratos, a Spartan warrior who has been living
        in exile since the events of God of War III. He now lives with his son
        Atreus in Midgard, a realm populated by both humans and mythical
        creatures. As they journey across Midgard, Kratos must teach Atreus how
        to survive this harsh land while defending them both from its many
        dangers. With stunning visuals and an epic story, God of War 4 promises
        to be an unforgettable gaming experience.</p>
      <h3>God of War 4 Gameplay</h3>
      <p>The main highlight of the game is that there are two protagonists,
        Kratos and his son Atreus. None of the previous episodes had two
        protagonists. This is one thing that makes games more interesting.</p>
      <p>The eighth episode also comes with a major gameplay change. In God of
        War4 game, Kratos uses a magic axe for his double shoulders which we
        have seen in other episodes. The game also uses a free over-the-shoulder
        camera, instead of the cinematic camera of previous games.</p>
      <p>The player controls the character Kratos in combo-based combat and
        puzzle elements. God of War 4 PC Download is very different from
        previous games in that it is fully built. The major change is that
        Kratos no longer uses his signature double-shoulder blade, the Blade of
        Chaos, as his default weapon. But he uses a magical ax called the
        Leviathan Axe, which is imbued with elemental ice magic. The ax can be
        thrown at enemies and struck by hand, like Thor’s hammer Mjolnir. Bigger
        enemies have precise targets and they throw the ax at the enemy on those
        targets.</p>
      <p>The weapon can also be thrown at surrounding objects to trigger a
        damaging explosion. He can freeze objects and certain enemies instead of
        solving a puzzle until the ax returns to Kratos’ hand. The standard ax
        has a light and heavy attacks. Over time, it can be upgraded with runes
        to enable runic magic attacks, one slot for the light magic attacks, the
        other for the heavy magic attack. This gives players a variety of
        options to customize their playstyle.</p>
      <p>Another new weapon used by Kratos is the Guardian Shield. When not in
        use, it folds up and looks like a left arm. When summoned, the shield
        can be used offensively or defensively, like the golden shield in
        previous games. Kratos also uses melee combat, a feature introduced in
        Ascension. Chaos Blades, imbued with fire elemental magic, are acquired
        later in the game through a mechanical device and act the same as
        previous versions. The weapon can also be enhanced with magic runic
        attacks.</p>
      <div class="row">
        <iframe
          width="720"
          height="473"
          src="https://www.youtube.com/embed/-qPjZx2IVCU"
          title="GOD OF WAR 4 Trailer #2 (2018)"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

    </div>
    <div class="b" style="margin-top: 8%; margin-bottom: 4%;">
      <center><a href="/Games/God of War.exe" download><button alt="DOWNLOAD">
            <i>D</i>
            <i>O</i>
            <i>W</i>
            <i>N</i>
            <i>L</i>
            <i>O</i>
            <i>A</i>
            <i>D</i>

          </button></a>
      </center>
    </div>

  </body>
</html>