<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>download</title>
    <link rel="stylesheet" href="/stylesheets/Hitman.css" />
  </head>
  <body>
    <header>
      <div class="background">
        <h2 style="text-align: center;color: white;">Hitman</h2>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        <img
          class="img"
          src="https://img.icons8.com/?size=512&id=83331&format=png"
          alt=""
        />
      </div>

    </header>
    <h1 style="text-align: center;">Hitman 3</h1>
    <div class="container-sm">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <img
            class="video"
            src="https://wallpapercave.com/dwp1x/wp7235896.jpg"
            alt=""
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

          <h5>Hitman 3 System Requirements:</h5><hr />
          <ul>
            <li>CPU: Intel Core i7-4790 / AMD Ryzen 5 1600</li>
            <li>RAM: 16 GB</li>
            <li>OS: 64-bit Windows 10</li>
            <li>VIDEO CARD: NVIDIA GeForce GTX 1070 / AMD Radeon RX Vega 56</li>
            <li>PIXEL SHADER: 5.1</li>
            <li>VERTEX SHADER: 5.1</li>
            <li>FREE DISK SPACE: 80 GB</li>
            <li>DEDICATED VIDEO RAM: 8192 MB</li>
          </ul>
        </div>
      </div>

      <h3>Hitman 3 Gameplay</h3>
      <p>Like its predecessors, Hitman 3 is a stealth game played from a
        third-person perspective and players once again take control of the
        assassin Agent 47. In Hitman 3 Free Download game, 47 travels to various
        locations and performs assassinations under contract, continuing the
        story of the last two games. The base game features six new locations:
        Dubai, Dartmoor, Berlin, Chongqing, Mendoza, and the Carpathian
        Mountains, Romania. Owners of Hitman or Hitman 2 can import maps,
        levels, and their progress into Hitman 3 Download for PC.</p>
      <p>The Hitman III game’s story and concept revolve around a contract
        signed by a deadly organization known as the International Mafia. If you
        want to be one of the professional killers defined as part of this
        highly successful family, be sure to back your claim with a strong skill
        base. The Hitman 3 Download PC game will not only test your abilities
        but also give you a chance to develop your character and develop your
        own identity as a killer.</p>
      <h3>Hitman 3 Reviews:</h3>
      <p>The game received positive reviews, with praise for its level design
        and atmosphere, stealth mechanics, and 47 abilities. Some reviewers
        called it the best entry in the series and it was cited as one of the
        greatest stealth games of all time. Hitman 3 Download was the
        franchise’s most commercially successful game. It won various awards,
        including “PC Game of the Year” at the 2021 Golden Joystick Awards.</p>
      <div class="row">
        <iframe
          width="720"
          height="473"
          src="https://www.youtube.com/embed/Z29ORu6_p34"
          title="Hitman 3 - Official Launch Trailer"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe></div>

    </div>
    <div class="b" style="margin-top: 8%; margin-bottom: 4%;">
      <center><a href="/Games/Hitman 3.exe"><button alt="DOWNLOAD">
            <i>D</i>
            <i>O</i>
            <i>W</i>
            <i>N</i>
            <i>L</i>
            <i>O</i>
            <i>A</i>
            <i>D</i>

          </button></a></center>
    </div>

  </body>
</html>