<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open World Games</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"
    />

  </head>
  <body>
    <header>

      <div class="background">
        <div class="col-xl-12">

          <div class="buttons">

            <button class="topbuttons">Home</button>
            <a href="reviews"><button class="topbutton">Reviews</button></a>
            <a href="games"><button class="topbutton">Games</button></a>
          </div>
        </div>

      </div>
      <ul class="slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
      </ul>
    </header>
    <div class="container-sm">
      <div class="a">
        
        <h3>WELCOME TO OWG</h3>

        <p class="c">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Dolores aut excepturi suscipit! Sunt nihil vel ab sit repellendus
          nobis facere natus cupiditate iure, iste at ullam perferendis aliquam
          fuga sequi.</p>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        
      </div>
    </div>
    <div class="container-sm">
      <h3
        style="text-align: center;font-size: 57px; padding-top: 5%; "
      >Games</h3>
      <div class="games">
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <a href="god" style="text-decoration: none;"><div class="card">
                <img
                  class="g"
                  src="https://cdn.mos.cms.futurecdn.net/eVoTvVPS6UgHCqsUbyn8K9-970-80.jpg.webp"
                  alt=""
                />
                <div class="textBox">
                  <p class="text head">GOD OF WAR</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <a href="Sniper" style="text-decoration: none;"><div class="card">
                <img
                  class="g"
                  src="https://images8.alphacoders.com/125/thumbbig-1259235.webp"
                  alt=""
                />
                <div class="textBox">
                  <p class="text head">Sniper Elite 5</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <a href="gta" style="text-decoration: none;"><div class="card">
                <img
                  class="g"
                  src="https://c4.wallpaperflare.com/wallpaper/188/473/195/characters-of-gta-v-wallpaper-preview.jpg"
                  alt=""
                />
                <div class="textBox">
                  <p class="text head">GTA V</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <a href="Ghostrunner" style="text-decoration: none;"><div
                class="card"
              >
                <img
                  class="v"
                  src="https://c4.wallpaperflare.com/wallpaper/595/156/1017/ghostrunner-cyberpunk-cyborg-ninja-katana-hd-wallpaper-preview.jpg"
                  alt=""
                />
                <div class="textBox">
                  <p class="text head">Ghostrunner</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <a href="farcry" style="text-decoration: none;"><div class="card">
                <img
                  class="v"
                  src="https://c4.wallpaperflare.com/wallpaper/656/702/364/far-cry-vaas-far-cry-3-gun-wallpaper-preview.jpg"
                  alt=""
                />
                <div class="textBox">
                  <p class="text head">Far Cry 3</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <a href="watchdogs" style="text-decoration: none;"><div
                class="card"
              >
                <img
                  class="g"
                  src="https://c4.wallpaperflare.com/wallpaper/432/339/686/ubisoft-san-francisco-game-marcus-holloway-wallpaper-preview.jpg"
                  alt=""
                />
                <div class="textBox">
                  <p class="text head">Watch Dogs 2</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <a href="Hitman" style="text-decoration: none;"><div class="card">
                <img
                  class="v"
                  src="https://c4.wallpaperflare.com/wallpaper/585/12/839/codename-47-hitman-hitman-3-black-coat-video-games-hd-wallpaper-preview.jpg"
                  alt=""
                />
                <div class="textBox">
                  <p class="text head">Hitman 3</p>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>