<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamezzz</title>
    <link rel="stylesheet" href="/stylesheets/reviews.css" />
  </head>
  <body>
    <header>

      <div class="background">
        <div class="col-xl-12">
          <div class="buttons">
            <a href="home"><button class="topbutton">Home</button></a>
            <button class="topbuttons">Reviews</button>
            <a href="games"><button class="topbutton">Games</button></a>
          </div>
        </div>
        
      </div>
   <ul class="slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
      </ul>
    </header>
    <div class="container-sm">
      <div class="a">
        <h2 style="font-size: 42px;">Reviews</h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <div class="cardg">
            <div class="first-content">

            </div>
            <div class="second-content">
              <span>9.4/10</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <h4>God Of War</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
            labore, facilis sit laborum vero tempore earum, odio saepe
            repudiandae voluptates magni rem! Dolore, obcaecati ipsum soluta
            cumque iure maxime qui voluptate, exercitationem error voluptatum
            saepe deleniti maiores nam ex? Enim.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <div class="cardt">
            <div class="first-content">

            </div>
            <div class="second-content">
              <span>9.2/10</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <h4>Sniper Elite 5</h4>
          <p>Sniper Elite 5 Download is a third-person shooter stealth video
            game developed and published by Rebellion Developments. It is the
            sequel to Sniper Elite 4 and was released on 26 …</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <div class="cardgta">
            <div class="first-content">

            </div>
            <div class="second-content">
              <span>9/10</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <h4>GTA V</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
            labore, facilis sit laborum vero tempore earum, odio saepe
            repudiandae voluptates magni rem! Dolore, obcaecati ipsum soluta
            cumque iure maxime qui voluptate, exercitationem error voluptatum
            saepe deleniti maiores nam ex? Enim.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <div class="cardc">
            <div class="first-content">

            </div>
            <div class="second-content">
              <span>8.6/10</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <h4>Ghostrunner</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
            labore, facilis sit laborum vero tempore earum, odio saepe
            repudiandae voluptates magni rem! Dolore, obcaecati ipsum soluta
            cumque iure maxime qui voluptate, exercitationem error voluptatum
            saepe deleniti maiores nam ex? Enim.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <div class="carda">
            <div class="first-content">

            </div>
            <div class="second-content">
              <span>8/10</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <h4>Far Cry 3</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
            labore, facilis sit laborum vero tempore earum, odio saepe
            repudiandae voluptates magni rem! Dolore, obcaecati ipsum soluta
            cumque iure maxime qui voluptate, exercitationem error voluptatum
            saepe deleniti maiores nam ex? Enim.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <div class="cardw">
            <div class="first-content">

            </div>
            <div class="second-content">
              <span>8.2/10</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <h4>Watch Dogs 2</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
            labore, facilis sit laborum vero tempore earum, odio saepe
            repudiandae voluptates magni rem! Dolore, obcaecati ipsum soluta
            cumque iure maxime qui voluptate, exercitationem error voluptatum
            saepe deleniti maiores nam ex? Enim.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <div class="cardcod">
            <div class="first-content">

            </div>
            <div class="second-content">
              <span>8.1/10</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <h4>Hitman 3</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
            labore, facilis sit laborum vero tempore earum, odio saepe
            repudiandae voluptates magni rem! Dolore, obcaecati ipsum soluta
            cumque iure maxime qui voluptate, exercitationem error voluptatum
            saepe deleniti maiores nam ex? Enim.</p>
        </div>
      </div>
      <div class="qwer">

      </div>
    </div>

  </body>
</html>